{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-section">
    <!-- 404 Page Start -->
    <div class="page-section nopadding cs-nomargin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-not-found">
                        <div class="cs-text">
                            <span class="cs-error">403</span>
                            <span> Permission Denied</span>
                            <p>You do not have permission to access this page.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 Page End -->
</div>
{% endblock %}